.main {
    flex-direction: row;
}

.menu {
    margin-top: 5%;
    margin-bottom: 20%;
    margin-left: 8%;
    width: 250px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 5% auto 20%; 
    width: 950px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    justify-content: center;
}
  
.car-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 각 행당 5개의 열로 배치합니다. */
    align-items: center;
}
  
.car-list li {
    font-size: 12px;
    width: 100px;
    margin-bottom: 10px;
    margin-left: 60px;
    text-align: center;
}

.block {
    padding-left: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px; 
}

.block li {
    list-style-type: none;
}

.button {
    width: 250px;
    background-color: aliceblue;
    color: #1e6b7b;
    font-size: 20px;
}

.menuText {
    font-size: 20px;
}

.inputText {
    left: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.selectBox {
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
}
