.main {
    flex-direction: row;
    display: flex;
}

.touch {
    text-decoration: none;
    color: black;
}

.logo {
    margin-left: 120px;
    font-size: 30px;
}

.login {
    flex-direction: row;
    margin-top: 50px;
    margin-left: 920px;
}

.bar {
    margin-right: 80px;
    margin-left: 80px;
    height: 75px;
    background-color: gainsboro;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barSpan {
    font-size: 40px;
    margin: 0 30px;
}