.main {
    flex-direction: row;
    display: flex;
}

.barArea{
    margin-right: 80px;
    margin-left: 80px;
    height: 75px;
    background-color: gainsboro;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}